
.clickable {
    cursor: pointer;
}
.full-circle {
    width: 22px;
    height: 22px;
    border: 0;
    border-radius: 50%;
    background-color: black;
}
.full-circle.game-lost {
    background-color: gray;
}
.full-circle.clicked {
    cursor: pointer;
    background-color: green;
}
.full-circle.danger {
    background-color: red;
}
