#container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: lemonchiffon;
}

.clickable {
    cursor: pointer;
}
.full-circle {
    width: 22px;
    height: 22px;
    border: 0;
    border-radius: 50%;
    background-color: turquoise;
}
.full-circle.game-lost {
    background-color: gray;
}
.full-circle.clicked {
    cursor: pointer;
    background-color: teal;
}
.full-circle.danger {
    background-color: crimson;
}
.container {
    position: relative;
}
.canvas {
    position: absolute;
    top: 0;
    left: 0;
}
